
@{
    ViewData["Title"] = "QuieneSomos";
}

<h1>QuieneSomos</h1>
<h2>Mision</h2>
<pre>
    Somos fabricantes a la medida de vestimenta médica, lencería hospitalaria, prendas de protección para estéticas,
    peluquerías y ropa de trabajo; con amplia variedad de diseños, colores y modelos.
</pre>
<h2>Vision</h2>
<pre>
    Proveer  soluciones efectivas y rentables, mediante la distribución de insumos textiles médicos, equipos, dispositivos, instrumental e implantes, de reconocidas marcas mundiales,
    brindando asesoría y servicios  de calidad, con talento humano motivado, ético y profesional, para lograr la satisfacción del cliente.
</pre>
